<h1>Todo: <input type="text" placeholder="Add Todo" (keydown.enter)="addToTodos($event.target)"></h1>

<table border>
  <tr *ngFor="let todo of todos">
    <span [ngSwitch]="todo.status">
      <div *ngSwitchCase="'Active'">
        <td>
          <input type="checkbox" (change)="changeToComplete($event, todo.id, 'Complete')">
             {{todo.name}}   <button (click)="deleteTodo(todo.id)">X</button>
        </td>
      </div>
      <p *ngSwitchCase="'Complete'">
        <td>
          <input type="checkbox" (change)="changeToComplete($event, todo.id, 'Complete')">
             <del> {{todo.name}} </del> <button (click)="deleteTodo(todo.id)">X</button>
        </td>
      </p>
    </span>
  </tr>  
  
  <app-todos (resp)="changeTable($event)" (clear)="clearCompletes($event)"></app-todos>
</table>


